body {
    background:#fff ;
    /*font:80% Trebuchet MS, Arial, Helvetica, Sans-Serif !important;*/
    line-height:180%;
    margin:0;
    padding:0;
    text-align:center;
    background: #f3f3f3;
    font: 0.8em/1.5em "Arial", "Helvetica", "sans-serif" !important;
    font-weight: normal !important;
    color: #777777 !important;
}

p {
    color: #777777 !important;
}

.wrapper {
    width: 900px;
    margin: 30px auto 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.298) 0px 1px 3px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}

.home-wrapper {
    width: 940px;
    margin: 30px auto 40px auto;
}

.header-section {
    background: #FFFFFF;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.298) 0px 1px 3px;
}

.offer-section {
    height: 360px;
}

.offer {
    width: 306px;
    height: 350px;
    float: left;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.298) 0px 1px 3px;
}

.offer-top {
    width: 100%;
    height: 175px;
    background: black;
    border-radius: 4px 4px 0 0;
}

.products-bg {
    background: url(../images/product.png);
    background-size: 320px;
}

.solutions-bg {
    background: url(../images/product.png);
    background-size: 320px;
}

.web-hosting-bg {
    background: url(../images/web.png);
    background-size: 320px;
}

.services-bg {
    background: url(../images/sdp.png);
    background-size: 320px;
}

.offer-bottom {
    width: 100%;
    height: 175px;
    text-overflow: ellipsis;
}

.offer-bottom p {
    padding: 0 20px;
    text-align: justify;
}

.offer-bottom h1 {
    padding-top: 10px;
    font-family: Calibri Light;
    font-size: 25px;
}

.footer-section {
    background: #ffffff;
    width: 900px;
    padding: 20px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.298) 0px 1px 3px;
}

.our-clients {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}

.our-clients h1 {
    font-family: Calibri Light;
    font-size: 50px;
    color: #777777;
}

.middle-offer {
    margin: 0 10px;
}

.header {
    width: 100%;
    height: 71px;
    overflow: hidden;
    padding-top: 10px;
}

.header-left {
    float: left;
    width: 50%;
}

.search {
    float: right;
}

.header-left img {
    max-height: 70px;
    float: left;
}


.header-right {
    float: right;
    width: 50%;
    /*background: lime;*/    
}
.social {
    float: right;
    margin-left: 5px;
    cursor: pointer;
    display: block;
}

.home-button {
    background-color: #AB171E;
    color: #FFFFFF !important;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.110);
    background-image: -webkit-linear-gradient(to bottom, #648ffa, #0d67f7);
    border: 1px solid #587ddb;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.220);
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 3px;

    background:-moz-linear-gradient(top, #648ffa 0, #0d67f7 100%);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#648ffa), to(#0d67f7));
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF648FFA,endColorstr=#FF0D67F7)";
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF648FFA,endColorstr=#FF0D67F7);
}


.home-hr-line {
    border-top: 1px #555 dashed;
    width: 100%;
    margin: 10px 0 15px 0;
}

.section-wrapper {
    width: 900px;
    /*background: #eaecef;*/
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 10px;
}

.left-section {
    width: 230px;
    /*background: #eaecef;*/
    float: left;
}

/*.left-section .current-tab, .left-section li a:hover {
    font-weight: bold;
}*/

.left-section ul {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
    background: #eaecef;
    background: #ffffff;
    color: #656565;
    font-weight: normal;
    font-size: 13px;
}

.left-section ul li {
    border-bottom: 1px solid #dcdee1;
}

.left-section li a {
    text-decoration: none;
    padding: 10px 8px;
    display: block;
    color: #777777;
}

.right-section {
    width: 618px;
    float: right;
    /*    background: #ffffff;
        background: #eaecef;*/
    background: #f6f6f6;
    padding: 15px;
    /*margin: 10px 10px 10px 0;*/
    /*box-shadow: 1px 1px 2px #D0D0D0;*/
    /*box-shadow: rgba(0, 0, 0, 0.298) 0px 1px 3px;*/
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    /*border-left: 1px solid #e9e9e9;*/
}



.right-section .arrow {
    width: 20px;
    height: 30px;
    position: absolute;
    margin-left: -34px;
    background: url(../images/arrow.png) no-repeat 5px;
    background-size: 15px;
}

.product-category-title {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding: 4px 0;
    margin: 30px 0;
}

table, td, tr, th {
    background: transparent !important;
}

#nav {
    list-style: none outside none;
}

#nav li, #nav li a {
    height: 36px;
}

#nav li a:hover {
    -o-border-image: url("data:image/png;base64,iVBORw0K…") 0 2 0 1;
    background: url("data:image/png;base64,iVBORw0K…") 0px 0px repeat-x, url("data:image/png;base64,iVBORw0K…") 100% 0px repeat-y, url("data:image/png;base64,iVBORw0K…") 0px 0px repeat-y, rgba(0, 0, 0, 0.400);
}

#nav li a span {
    background: url("http://images.apple.com/global/nav/images/globalnav_text.png") 50% 0px no-repeat transparent;
    display: block;
    height: 30px;
    margin: 3px auto;
    width: 100%;
}

.home-slider {
    width: 900px;
    height: 301px;
    background: lightyellow;
}

#globalheader { 
    position:relative;
    display:block;
    width:900px;
    height:36px;
    margin:10px auto;
    text-align:left;
    z-index:9998; 
    background:url(../images/globalheader.png) repeat-x;
    -khtml-border-radius:4px; 
    -ms-border-radius:4px; 
    -o-border-radius:4px;
    -moz-border-radius:4px; 
    -webkit-border-radius:4px;
    border-radius:4px;
    -khtml-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
    -ms-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
    -o-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
    -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
    -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
    box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
    font:13px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
@media only screen and (max-device-width:768px) {
    #globalheader { z-index:1; }
    #globalheader.searchmode { z-index:9999; }
}
#globalheader #globalnav { position:relative; display:block; margin:0; padding:0; zoom:1; z-index:3; }
#globalheader #globalnav:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
#globalheader #globalnav li { display:inline; }
#globalheader #globalnav li a { float:left; width:102px; height:36px; overflow:hidden; background:url(../images/globalnav.png) no-repeat; line-height: 36px; color: #f9f9f9; text-decoration: none; text-align: center; cursor:pointer; text-shadow: 0px -1px #333; }

/* VML FOR IE */
v\:roundrect,
v\:fill { behavior:url(#default#VML); }
#globalheader-roundrect,
#globalheader-fill { display:block; position:absolute; width:980px; height:35px; top:0; left:0; z-index:2; }
#globalheader-shadow {  display:block; position:absolute; width:980px; height:35px; top:-1px; left:-2px; z-index:1; -ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelRadius=2)"; filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2); }

/* VARIANTS */
/*#globalheader #globalnav.tabs6-nosearch li a { width:163px; background-image:url(/global/nav/images/globalnav_tabs6-nosearch.png); }
#globalheader #globalnav.tabs6-nosearch li#gn-apple a { width:165px; }
#globalheader #globalnav.tabs7-nosearch li a { width:140px; background-image:url(/global/nav/images/globalnav_tabs7-nosearch.png); }
#globalheader #globalnav.tabs7-nosearch li#gn-apple a { width:140px; }
#globalheader #globalnav.nosearch       li a { width:122px; background-image:url(/global/nav/images/globalnav_nosearch.png); }
#globalheader #globalnav.nosearch       li#gn-apple a { width:126px; }
#globalheader #globalnav.tabs7          li a { width:117px; background-image:url(/global/nav/images/globalnav_tabs7.png); }
#globalheader #globalnav.tabs7          li#gn-apple a { width:114px; }*/

/* ACTION STATES */
#globalheader #globalnav li a { background-position:100% 0; outline:none; }
#globalheader #globalnav li a.before { background-position:100% -36px; }
#globalheader #globalnav li a:hover,
#globalheader #globalnav li a:focus  { background-position:100% -72px; }
.current { background-position:100% -72px !important; }

#globalheader #globalnav li#gn-apple a { background-position:0 0; }
#globalheader #globalnav li#gn-apple a.before { background-position:0 -36px; }
#globalheader #globalnav li#gn-apple a:hover,
#globalheader #globalnav li#gn-apple a:focus  { background-position:0 -72px; }
#globalheader #globalnav li#gn-apple a:active { background-position:0 -72px !important; }

/* VARIANT ACTION STATES */
#globalheader #globalnav.tabs6-nosearch li.gn-last a { background-position:-165px 0; }
#globalheader #globalnav.tabs6-nosearch li.gn-last a:hover,
#globalheader #globalnav.tabs6-nosearch li.gn-last a:focus { background-position:-165px -72px; }
#globalheader #globalnav.tabs6-nosearch li.gn-last a:active { background-position:-165px -108px; }

#globalheader #globalnav.tabs7-nosearch li.gn-last a { background-position:-140px 0; }
#globalheader #globalnav.tabs7-nosearch li.gn-last a:hover,
#globalheader #globalnav.tabs7-nosearch li.gn-last a:focus { background-position:-140px -72px; }
#globalheader #globalnav.tabs7-nosearch li.gn-last a:active { background-position:-140px -108px; }

#globalheader #globalnav.nosearch       li.gn-last a { background-position:-126px 0; }
#globalheader #globalnav.nosearch       li.gn-last a:hover,
#globalheader #globalnav.nosearch       li.gn-last a:focus { background-position:-126px -72px; }
#globalheader #globalnav.nosearch       li.gn-last a:active { background-position:-126px -108px; }

/* ON STATES */
#globalheader.store   li#gn-store   a,
#globalheader.mac     li#gn-mac     a,
#globalheader.ipod    li#gn-ipod    a,
#globalheader.iphone  li#gn-iphone  a,
#globalheader.ipad    li#gn-ipad    a,
#globalheader.itunes  li#gn-itunes  a,
#globalheader.support li#gn-support a { background-position:right -144px !important; }

#globalheader.gn-last #globalnav.tabs6-nosearch li.gn-last a { background-position:-165px -144px !important; }
#globalheader.gn-last #globalnav.tabs7-nosearch li.gn-last a { background-position:-140px -144px !important; }
#globalheader.gn-last #globalnav.nosearch       li.gn-last a { background-position:-126px -144px !important; }

/*#nav {
    width: 894px;
    margin: 0 auto 10px auto;
    display: inline-block;
    background: url("../images/gradient.png") 0px -110px repeat-x #7D7D7D;
    border-radius: 2em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.400);
    line-height: 100%;
    padding: 7px 6px 0px;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0 0.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0 0.4);
}

#nav li {
    float: left;
    list-style: none outside none;
    margin: 0px 5px !important;
    padding: 0px 0px 8px;
    position: relative;
}

#nav li a {
    border-radius: 1.6em;
    color: #E7E5E5;
    display: block;
    font-weight: 700;
    margin: 0px;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.298);

}

#nav a:hover { 
    background: #000000;
    color: #FFFFFF;
}

#nav .current a, #nav li:hover > a {
    background: #666 url(../images/gradient.png) repeat-x 0 -40px;
    color: #444;
    text-decoration: none;
    border-top: solid 1px #f8f8f8;
    text-shadow: 0px 1px 0px #FFFFFF;

    -webkit-box-shadow: 0 1px 1px rgba(0,0,0 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0 0.2);
    box-shadow: 0 1px 1px rgba(0,0,0 0.2);
}*/

#slide-show {
    width: 900px;
    height: 301px;
}

.welcome {
    width: 900px;
    height: 20px;
}

.middle-section {
    width: 900px;
    /*    background: lightgrey;*/
    height: 490px;
}

.middle-section p {
    text-align: left;
    padding: 5px 12px;
}

.vertical-column1 {
    width: 300px;
    float: left;
    height: 420px;
}
.vertical-column2 {
    width: 300px;
    float: left;
    height: 420px;
}
.vertical-column3 {
    width: 300px;
    float: left;
    height: 420px;
}
.newz {
    height: 290px;
    width: auto;
}

.clients {
    background: #f1f1f1;
    width: 200px;
    float: left;
    line-height: 98px;
    font-weight: bold;
    font-size: 2.2em;
    margin-top: 1px;
    color: #888888;

    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #f1f1f1 47%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(47%,#f1f1f1), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f1f1f1 47%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 0%,#f1f1f1 47%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#f1f1f1 47%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 0%,#f1f1f1 47%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */

    text-shadow: 1px 1px #ffffff;
}

h1{
    font-size:180%;
    font-weight:normal;
    margin:0;
    padding:0 20px;
}
h2{
    /*font-size:160%;*/
    font-weight:normal;
}	
h3{
    font-size:140%;
    font-weight:normal;
}	
img{border:none;}
pre{
    display:block;
    font:12px "Courier New", Courier, monospace;
    padding:10px;
    border:1px solid #bae2f0;
    background:#e3f4f9;	
    margin:.5em 0;
    width:674px;
}	

/* image replacement
    .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
        margin:0;
        padding:0;
        display:block;
        overflow:hidden;
        text-indent:-8000px;
        }
/* // image replacement */

#container{
    margin:0 auto;
    position:relative;
    text-align:left;
    background:#fff;
    margin-bottom:2em;


}	
#header{
    height:80px;
    line-height:80px;
    background:#5DC9E1;
    color:#fff;
}				
/*#content{
    position:relative;
    left: -4px;
    width: 800;
    top: -13px;
}			*/

#slider {
    width: 100%;
    overflow: hidden;
}

/* Easy Slider */

#slider ul, #slider li,
#slider2 ul, #slider2 li{
    margin:0;
    padding:0;
    list-style:none;
}
#slider2{margin-top:1em;}
#slider li, #slider2 li{ 
    /* 
            define width and height of list item (slide)
            entire slider area will adjust according to the parameters provided here
    */ 
    width:895px;
    height:100px;
    overflow:hidden; 
}	

ol#controls{
    margin:1em 0;
    padding:0;
    height:28px;	
}
ol#controls li{
    margin:0 10px 0 0; 
    padding:0;
    float:left;
    list-style:none;
    height:28px;
    line-height:28px;
}
ol#controls li a{
    float:left;
    height:28px;
    line-height:28px;
    border:1px solid #ccc;
    background:#DAF3F8;
    color:#555;
    padding:0 10px;
    text-decoration:none;
}
ol#controls li.current a{
    background:#5DC9E1;
    color:#fff;
}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}


#googlewrapping{width:100%;float:left;padding:0px;border-bottom:1px solid #d5c3c3;}
#googlewrap{
	width:100%;
	float:left;
	margin:0px;
	height:300px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#googlewrap:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

#contact-wrapper {
    width: 100%;
}

.contact-left {
    float: left;
    width: 70%;
}

.contact-right {
    float: right;
    width: 30%;
    text-align: left;
}

.contact-right h3 {
    text-transform: uppercase;
    color: #555555;
}

.contact-right ul {
    list-style: none;
    padding: 0;
}

.contact-right ul li {
    border-bottom: 1px solid #d5d5d5;
    padding: 5px 0;
}

.contact-left p {
    text-align: justify;
    padding-right: 50px;
}

#contact-form fieldset {
    border: none;
    padding: 0;
}


#contact-form .commentinput,
#contact-form textarea {
    background: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 0 5px;
}

#contact-form .commentinput:focus,
#contact-form textarea:focus {
    border: 1px solid #3f93e2;
    outline: none;
}

#contact-form .commentinput {
    width: 300px;
    height: 30px;
}
#contact-form textarea {
    width: 400px;
    height: 200px;
}

.accordionwrap{
	width:100%;
	float:left;
	margin-top:20px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
        margin-bottom: 20px;
}

.accordiontitle{
	width: 100%;
	float: left;
	padding: 0px;
	font-size: 10pt;
	border: 1px solid #EBE8E6;
	cursor: pointer;
	background-color: #FAFAFA;
	background-image: url(../images/headeroverlay.png);
	background-repeat: repeat;
}

.accordiontitle h3{
	/*font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font-size:15pt;
	padding-left:20px;
        text-transform: uppercase;
}

.accordiontitle a, .accordiontitle a:visited, .accordiontitle a:hover{
	color: #3A3A3A;
	font-size: 10pt;
	text-decoration: none;
}

.accordiontitle.active {
	background-position: right 5px;
}

.accordioncontent{
	width: 98%;
	float:left;
	padding:1%;
	font-size:10pt;
	border-top:0px;
}

/* === ACCORDION === */

.requied-field {
    color: palevioletred;
}

.contactmessage {
    background: #f45b5b;
    border: 1px solid #d53131;
    width: 510px;
    padding: 5px;
    color: #fff !important;
    text-align: center !important;
    position: fixed;
    top: 10px;
    display: none;
}

.contactsuccess {
    background: #62a1ed;
    border: 1px solid #3f93e2;
    width: 510px;
    padding: 5px;
    color: #fff !important;
    text-align: center !important;
    position: fixed;
    top: 10px;
    display: none;
}